<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Divided We Fall</title>
    <link rel="stylesheet" href="static/main.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body>
    <div class="container">
        <div class="logo">Divided We Fall</div>
        <input type="text" id="urlInput" placeholder="Enter URL here" class="box-shadow" style="height: 50px;">
        <button id="analyzeButton">Analyze</button>
        <div id="outputBox" class="box-shadow" style="height: 150px;">Output will be displayed here</div>

        <div class="about">About</div>
    </div>
    <footer>
      <div class="contact-info">Contact</div>
      <a href="https://github.com/NoahSnod" target="_blank"><img src="/images/noah.png" alt="noah" class="profile-icon"></a>
      <a href="https://github.com/Jeli04" target="_blank"><img src="/images/jerry.png" alt="jerry" class="profile-icon"></a>
    </footer>  
    <script src="script.js"></script>
</body>
</html>
