<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Divided We Fall</title>
    <link rel="stylesheet" href="static/main.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body>
    <div class="container">
        <div class="logo">Divided We Fall</div>
        <!-- Inside your main container -->
        <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
            <input type="text" id="urlInput" placeholder="Enter URL here" class="box-shadow" style="width: 80%; height: 50px;">
            <button id="analyzeButton" class="box-shadow" style="width: 18%; height: 50px;">Analyze</button>
        </div>
        <div id="outputBox" class="box-shadow" style="height: 150px">Output will be displayed here</div>

        <div class="about">
            <h2>Using our tool</h2>
            <p>Simply input a link to a publically viewable site and score on the potential bias in the language used.</p>
            <h2>Understanding Our Media Landscape</h2>
            <p>Have you ever considered the impact of media bias on your perceptions? In today's world, where news is available round the clock, it's crucial to recognize the influence of media on our views and opinions.</p>
            <p><strong>Divided We Fall</strong> is committed to fostering media literacy and promoting unbiased information consumption. Our tool is designed to help you identify biases, empowering you to make informed decisions and bridge the gaps of understanding.</p>
            <p>We believe that awareness is the first step toward change. By understanding and addressing media biases, we can work together to create a more inclusive and balanced media environment.</p>
            <p>‎ </p>
            <p>‎ </p>
            <p>‎ </p>
        </div>
        
        <div class="about"></div>
    </div>
    <footer>
      <div class="contact-info">Contact</div>
      <a href="https://github.com/nsnod" target="_blank"><img src="/images/noah.png" alt="noah" class="profile-icon"></a>
      <a href="https://github.com/Jeli04" target="_blank"><img src="/images/jerry.png" alt="jerry" class="profile-icon"></a>
    </footer>  
    <script src="static/script.js"></script>
</body>
</html>
